/* Framework styles */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.header {
    position: absolute;
    right: 10%;
    top: 10%;
}

body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.gallery {
    border-radius: 5px;
    width: 300px;
    height: 200px;
}
.gallerySquareSmall {
    border-radius: 5px;
    width: 80px;
    height: 80px;
}
.gallerySquareMedium {
    border-radius: 5px;
    width: 160px;
    height: 160px;
}
.gallerySquareLarge {
    border-radius: 5px;
    width: 320px;
    height: 320px;
}
.gallery2 {
    border-radius: 5px;
    width: 320px;
    height: 240px;
}
.gallery4 {
    border-radius: 5px;
    width: 140px;
    height: 100px;
}
.gallery5 {
    border-radius: 5px;
    width: 120px;
    height: 80px;
}
.downloadable {
    border: 2px solid gray;
    padding: 2px;
}
/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/

#layout {
    opacity: 1;
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 150px;
    }
        #layout.active #menu {
            left: 150px;
            width: 150px;
        }

        #layout.active .menu-link {
            left: 150px;
        }

#layout::after {
    margin-left: 70%;
    max-width: 530px;
    background: url(../images/halloweenInvertCropOrange.jpg) no-repeat;
    background-size: 85%;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
}

#trajectlayout {
    opacity: 1;
    position: relative;
    padding-left: 0;
}
#trajectlayout.active {
    position: relative;
    left: 150px;
}
#trajectlayout.active #menu {
    left: 150px;
    width: 150px;
}

#trajectlayout.active .menu-link {
    left: 150px;
}

#trajectlayout::after {
    margin-left: 70%;
    max-width: 530px;
    background: url(../images/pencil.jpeg) no-repeat;
    background-size: 85%;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
}
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.content-central {
    margin: 0 auto;
    max-width: 600px;
}

.header {
     margin: 0 2.0em 0 0;
     color: #333;
     text-align: right;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 2.5em;
        font-weight: 300;
        font-family: sans-serif;
    }
     .header h2 {
        font-weight: 300;
        color: #989898;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    width: 40%;
    text-align: center;
    margin: 25px auto;
    font-weight: 300;
    color: #2e2e2e;
    background-color: #e7a453;
    border-radius: 5px;
}
.section-subhead {
    width: 30%;
    text-align: center;
    margin: 20px auto;
    color: #333333;
    background-color: #b2b2b2;
    border-radius: 5px;
}
.footer {
    background: #ffffff;
    font-size: 0.75em;
    color: #888888;
    text-align: center;
}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected {
        background: #1f8dd6;
    }
    #menu .pure-menu-heading {
        background: #000000;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

/* Project lis styles */
.projects {
    list-style: none;
}
.projects li {
    width: 15%;
    text-align: center;
    background-color: #b2b2b2;
    border-radius: 5px;
    margin: 10px 10px 10px 20px;
}
.portfolio {
    list-style: none;
}
.portfolio li {
    width: 30%;
    text-align: center;
    background-color: #b2b2b2;
    border-radius: 5px;
    margin: 10px auto;
}
.sub-portfolio li {
    width: 50%;
}
.sub-portfolio img {
    display: block;
    margin: 5px auto;
}

.content-list {
    margin: 0px 0px 5px 10px;
}
.description {
    text-align: center;
    font-size: 1em;
    margin: 0px;
}
.descriptionExtended {
    text-align: center;
    font-size: 1em;
    margin: 5px 5px 10px 5px;
}
.fix-centre {
    display: block;
    margin: 5px auto;
}
.summary {
    text-align: left;
    margin: 5px;
}