/* Framework styles */
/* Bootstrap does reset */

/* Common styles */
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
    font-family: 'open_sansregular';
}
body {

}

.fixedHeader {
    position: absolute;
    right: 5%;
    top: 5%;
    text-align: right;
}
.fixedHeader h1 {
    margin: 0.2em 0;
}

canvas {
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
}

/* Main page styles */
#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title {
    position: absolute;
    top: 15%;
    left: 15%;
    text-align: center;
}
#title h1 {
    color: #e28900;
}
#title p {
    font-size: 1vw;
    color: #4a4a4a;
}
#title img {
    width: 100%;
    border-radius: 10px;
    margin-top: 2%;
}
#menu {
    background-color: #000000;
}



/*Research page */
.header {
    margin: 2% 2% 0 0;
    text-align: right;
}
.header h1 {

}
.header h2 {

}
#researchTitle {
    margin: 1% 0 0 2%;
    text-align: left;
}
#researchTitle h1 {
    color: #e28900;
}
#researchTitle p {
    width: 50%;
    text-align: justify;
}
#researchTitle img {
    width: 17.5%;
    border-radius: 15px;
}
#researchGallery {
    text-align: center;
    margin: 2% 0 0 0%;
}
#researchContents {
    height: 100vh;
    background-color: #b7b7b7;
}

/* Projects page */
#projectsTitle {
    margin: 1% 0 0 2%;
    text-align: left;
}
#projectsTitle h1 {
    color: #e28900;
}
#projectsTitle p {
    width: 50%;
    text-align: justify;
}
#projectContents {
    background-color: #b7b7b7;
}
#gallery {
    text-align: center;
}
#gallery .row {
    background-color: transparent;
}
#gallery img {
    width: 50%;
    border-radius: 5px;
    padding-bottom: 3px;
}
#gallery p {
    color: #c78939;
    background-color: #4a4a4a;
    border-radius: 5px;
    border: 2px solid #c78939;
    width: 65%;
    margin: 0 auto;
}
#gallery .row {
    margin-bottom: 2%;
}


/* Portfolio page */
#portfolioContents {
    background-color: #b7b7b7;
}
#portfolioTitle {

}
#portfolioTitle h1 {
    color: #e28900;
}
#portfolioTitle p {
    width: 50%;
    text-align: justify;
}
#portfolioTitle img {
    width: 45%;
    border-radius: 100px;
}
#portfolioGallery {
    background-color: #b7b7b7;
}





