/* Framework styles */
/* Bootstrap does reset */

/* Common styles */
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
    font-family: 'open_sansregular';
}
body {

}
.centre {
    text-align: center;
}
.fixedHeader {
    position: absolute;
    right: 5%;
    top: 5%;
    text-align: right;
}
.fixedHeader h1 {
    margin: 0.2em 0;
}

canvas {
    padding: 0;
    overflow: hidden;
}
.black {
    background-color: #000000;
}


/* Main page styles */
#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title {
    position: absolute;
    top: 15%;
    left: 15%;
    text-align: center;
}
#title h1 {
    color: #e28900;
}
#title p {
    font-size: 1vw;
    color: #4a4a4a;
}
#title img {
    width: 100%;
    border-radius: 10px;
    margin-top: 2%;
}



/*Research page */
.header {
    margin: 2% 2% 0 0;
    text-align: right;
}
.header h1 {

}
.header h2 {

}
#researchWebGL-Output {
    border-radius: 15px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#researchTitle {
    margin: 1% 0 0 2%;
    text-align: left;
}
#researchTitle h1 {
    color: #e28900;
}
#researchTitle p {
    width: 50%;
    text-align: justify;
}
#researchTitle img {
    width: 17.5%;
    border-radius: 15px;
}
.hint p {
    padding: 5% 10%;
}
#researchGallery {
    text-align: center;
    margin: 2% 0 0 0%;
}
#researchContents {
    height: 100vh;
    background-color: #b7b7b7;
}



/* Projects page */
#projectsTitle {
    margin: 1% 0 0 2%;
    text-align: left;
}
#projectsTitle h1 {
    color: #e28900;
}
#projectsTitle p {
    width: 50%;

}
#projectContents {
    background-color: #b7b7b7;
}
#gallery {
    text-align: center;
}
#gallery .row {
    background-color: transparent;
}
#gallery img {
    width: 50%;
    border-radius: 15px;
    padding-bottom: 3px;
}
#gallery p {
    color: #c78939;

    border-radius: 5px;
    border: 2px solid #c78939;
    width: 35%;
    margin: 0 auto;
    background-color: #5a5a5a;
    padding: 3px 0;
}
#gallery .row {
    margin-bottom: 2%;
}


/* Portfolio page */
#portfolioContents {
    height: 100vh;
    background-color: #b7b7b7;
}
#portfolioTitle {

}
#portfolioTitle h1 {
    color: #e28900;
}
#portfolioTitle p {
    width: 50%;
    text-align: justify;
}
.portfolioGallery {
    background-color: #b7b7b7;
    text-align: center;
}
.portfolioGallery p {
    text-align: center;
    color: #79472d;
}
.portfolioGallery img {
    width: 45%;
    border-radius: 50%;
}
.infoContainer {
    position: relative;
}
.infoPanel {
    position: absolute;
    width: 50%;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: rgba(119, 119, 119, 0.85);
    text-align: center;
    opacity: 0;
}
.infoPanel p {
    color: #ffdb2a;
}
.infoContainer:hover .infoPanel {
    opacity: 1;
}


/* Contacts page */
#contactContents {
    height: 100vh;
    background-color: #b7b7b7;
}
#contactTitle h1 {
    color: #e28900;
}
#contactIcons {
    text-align: center;
    margin-left: 10%;
}
#contactIcons img {
    width: 17.5%;
}
#contactIcons p {
    margin-top: 5%;
    text-align: left;
}
#address img {
    width: 40%;
}
#directions {
    margin-top: 5%;
    margin-left: 10%;
}


/* Trajectories stuff */
.trajectBody {
    background-color: #b7b7b7;
}
header h1 {
    text-align: center;
    color: #e28900;
}
.intro p {
    margin: 2% 10%;
}
#tool img {
    margin-left: 15%;
    width: 50%;
}
#documentation img,
#examples img {
    width: 75%;
}
#contents p {
    margin-top: 5%;
}
.imageHeader {
    position: absolute;
    top: 0%;
    right: 0%;
    text-align: right;
}
.imageHeader img {
    width: 60%;
    opacity: 0.45;
}
#docs .subTitle {
    background-color: #858585;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}
#docs p {
    margin-top: 5%;
}
#docs img {
    width: 50%;
}
#videoInfo h3 {
    text-align: center;
    color: #e28900;
}
#videos {
    margin-left: 10%;
}
#videos img {
    width: 50%;
}
#sketches {
    text-align: center;
}
#sketches img {
    width: 20%;
}
#videoInfo p {
    text-align: center;
}
#sketchInfo h3 {
    text-align: center;
    color: #e28900;
}
#sketchInfo p {
    text-align: center;
}
#mediaInfo {
    margin-bottom: 2%;
}
#mediaInfo h3 {
    text-align: center;
    color: #e28900;
}
#mediaInfo p {
    text-align: center;
}
#media img {
    width: 60%;
}
#galleries {
    margin-left: 10%;
}
#galleries img {
    width: 25%;
    border-radius: 10px;
    border: 2px solid #4c4c4c;
}
#attractGallery {
    margin-left: 15%;
}
#attractGallery img {
    width: 35%;
    border-radius: 10px;
    border: 2px solid #4c4c4c;
}
#miscGallery {
    margin-left: 15%;
}
#miscGallery img {
    width: 35%;
    border-radius: 10px;
    border: 2px solid #4c4c4c;
}
#museums h3 {
    text-align: center;
    color: #e28900;
}
#museums p {
    text-align: center;
}
#attractions h3 {
    text-align: center;
    color: #e28900;
}
#attractions p {
    text-align: center;
}
#misc h3 {
    text-align: center;
    color: #e28900;
}
#misc p {
    text-align: center;
}